@font-face {
  font-family: 'Martian Mono';
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
  font-display: swap;
  src: url('/fonts/MartianMono-ExtraLight.ttf') format('truetype');
}
